.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.search-form {
	justify-content: center;
}
.search-form input[type='text'] {
	margin-right: 1rem;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.card-enter {
  opacity: 0;
	transform-style: preserve-3d;
}

.card-enter.card-enter-active {
  opacity: 1;
  transition: 1000ms;
}

.card-leave {
  opacity: 1;
}

.card-leave.card-leave-active {
  opacity: 0;
	transition: 50ms;
}